<div class="grid-about">
    <div class="justify-center">
        <img class="image" src="../../../assets/about-us.png" />
    </div>

    <div>
        <p class="about-us-p">Consolidada com a maior plataforma de cursos online para engenharia e arquitetura do
            Brasil, o Canal da Engenharia aborda com clareza e responsábilidade os principais temas da construção, como
            Estruturas de concreto armado, protendido, metálicas, fundações, trabalhando com o uso dos principais
            softwares utilizados no país, além do seu principal diferencial, o ensino de todas essas disciplinas de
            maneira manual, o que eleva você engenheiro a outro nível.</p>

        <p class="about-us-p">Atuando também em diversas outras áreas como, Orçamento e gerenciamento de obras, projetos
            arquitetônicos, renderização e softwares da técnologia BIM, a plataforma canal da engenharia, oferece de forma
            simples e objetiva no formado de video aulas todo o conhecimento necessário para que você profissional da
            área da construção civil, possa oferecer aos seus projetos e clientes o que há de mais moderno com uma
            qualidade excepcional.</p>

        <p class="about-us-p">
            Com 700 mil inscritos no youtube, o canal da engenharia também se destaca como o maior canal da América
            Latina dedicado ao segmento de engenharia, o que corrobora para o sentimento de responsábilidade que toda a
            nossa equipe tem pela qualidade do nosso conteúdo!
        </p>
    </div>
</div>