<app-title-subtitle class="justify-center"
    [title]="'O que oferecemos'"
    [subtitle]="'Art party meggings subway tile, selfies helvetica tofu before they sold out slow-carb chillwave humblebrag vape heirloom meh shaman.'">
</app-title-subtitle>

<div class="grid-container">
    <div>
        <app-what-you-will-learn-card
        [text]="'Cálculo Manual'"
        [img]="'../../../../assets/calculo-manual.svg'"></app-what-you-will-learn-card>
    </div>
    <div>
        <app-what-you-will-learn-card
        [text]="'Softwares'"
        [img]="'../../../../assets/softwares.svg'"></app-what-you-will-learn-card>
    </div>
    <div>
        <app-what-you-will-learn-card
        [text]="'Orçamento'"
        [img]="'../../../../assets/orcamento.svg'"></app-what-you-will-learn-card>
    </div>
    <div>
        <app-what-you-will-learn-card
        [text]="'Fundação'"
        [img]="'../../../../assets/fundacao.svg'"></app-what-you-will-learn-card>
    </div>
    <div>
        <app-what-you-will-learn-card
        [text]="'Sobrado'"
        [img]="'../../../../assets/sobrado.svg'"></app-what-you-will-learn-card>
    </div>
    <div>
        <app-what-you-will-learn-card
        [text]="'Edifício'"
        [img]="'../../../../assets/edificio.svg'"></app-what-you-will-learn-card>
    </div>
</div>