<app-title-subtitle class="justify-center" [title]="'Os cursos mais procurados'"
    [subtitle]="'Art party meggings subway tile, selfies helvetica tofu before they sold out slow-carb chillwave humblebrag vape heirloom meh shaman.'">
</app-title-subtitle>

<div *ngIf="itens$ | async as courses; else loadingOrError">
    <div class="grid-container">
        <div *ngFor="let course of courses">
            <app-course-card [course]="course"></app-course-card>
        </div>
    </div>
</div>

<div class="more-courses">
    <button>Ver todos os cursos &#10141;</button>
</div>

<ng-template #loadingOrError>
    <div *ngIf="error$ | async else loading">
        Não foi possível carregar os cursos, tente novamente
    </div>
</ng-template>

<ng-template #loading>
    <div class="grid-container">
        <app-course-card [isLoading]="true" *ngFor="let count of [].constructor(8)"></app-course-card>
    </div>
</ng-template>