<div class="grid-our-professors">
    <div class="title justify-center">
        <app-title-subtitle 
            [title]="'Nossos Professores'"
            [subtitle]="'Conheça os nossos professores'">
        </app-title-subtitle>
    </div>

    <div class="grid-professors">
        <div class="card">
            <div>
                <img src="../../../assets/felipe.png" />
            </div>
            <div class="card-text">
                <span>Prof. Eng. Felipe Rodrigues</span>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="../../../assets/emanuel.png" />
            </div>
            <div class="card-text">
                <span>Prof. Eng. Emanuel Dantas</span>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="../../../assets/rodrigo.png" />
            </div>
            <div class="card-text">
                <span>Prof. Eng. Rodrigo Araujo</span>
            </div>
        </div>
    </div>
</div>