<div class="grid-contact-form">
    <div class="grid-contact-text">
        <div>
            <h1>Entre em contato!</h1>
            <p>Nós do Canal da Engenharia adoraríamos saber o que você tem a dizer! Entre em contato pelo formulário</p>
        </div>
        <div></div>
        <div class="grid-infos">
            <div class="info">
                <img src="../../../../assets/phone.svg" />
                <span class="contact">+55 (11) 99999-999</span>
            </div>
            <div class="info">
                <img src="../../../../assets/mail.svg" />
                <span class="contact">Caixa posta foo</span>
            </div>
            <div class="info">
                <img src="../../../../assets/place.svg" />
                <span class="contact">Sorocaba/Brasil</span>
            </div>
        </div>
    </div>

    <div>
        <div class="grid-form">
            <label>E-mail</label>
            <input class="fields-margin" placeholder="Digite seu e-mail aqui" />
            <label>Nome completo</label>
            <input class="fields-margin" placeholder="Digite seu nome aqui" />
            <label>Assunto</label>
            <select class="fields-margin">
                <option>Financeiro</option>
                <option>Cursos</option>
                <option>Certificado</option>
                <option>Outros</option>
            </select>
            <label>Mensagem</label>
            <textarea class="fields-margin"></textarea>
            <button>Enviar mensagem</button>
        </div>
    </div>
</div>