<div class="grid-mission-vision-values">
    <app-title-subtitle 
        [title]="'MISSÃO'"
        [subtitle]="'Ensinar de uma maneira descomplicada, tornando assuntos antes complexos cada vez mais simples, sem perder em nada a qualidade e técnica, democratizando o acesso ao maior número possível de informações e conhecimento na área da engenharia e tecnologia!'">
    </app-title-subtitle>
    <app-title-subtitle 
        [title]="'VISÃO'"
        [subtitle]="'Buscando melhorar ainda mais o conteúdo, temos como principal objetivo, obter uma abrangência cada vez maior em diversos setores na indústria da construção civil, com disciplinas completas e profissionais altamente capacitados, trabalhando incessantemente para nos tornarmos, o maior portal de Engenharia do país!'">
    </app-title-subtitle>
    <app-title-subtitle 
        [title]="'VALORES'"
        [subtitle]="'Com a responsabilidade em transmitir e dividir conhecimentos, sempre seguindo todas as exigências normativas e leis nacionais, o Canal da Engenharia estará constantemente se atualizando e revisando seu conteúdo para trazer sempre o melhor!'">
    </app-title-subtitle>
</div>