$lightest-grey: #A6ACBE;
$light-grey: #666C7E;
$grey: #9592A6;
$dark-grey: #979797;
$darkest-grey: #11142D;
$title-color: #3D3D3D;
$yellow: #E6B721;
$white: #FFFFFF;
$dark-blue: #333269;
$light-purple: #5855D6;
$black: #021442;
$background-color: #F9F9F9;
$input-border: #E1E1E1;
$input-placeholder-color: #9A9AB0;
$copyright-background: #272727;
$copyright-text: #FFF;
$footer-background: #3D3D3D;
$menu-link-text: #4D4E50;
$menu-mobile-background: #3D3D3D;
$news-grey: #9F9FA5;
$what-card-grey: #9F9FA5;
$help-card-category: #AAAAAA;
$help-card-title: #2D3956;
$course-value: #313032;
