<div class="justify-center">
    <footer>
        <div class="content-grid max-width">
            <div class="center-logo">
                <img src="../../../assets/logo/short-logo.dark.svg" />
            </div>
    
            <div class="validate-certificate">
                <div>
                    <h4>Validar Certificado</h4>
                    <input placeholder="Digite o código do certificado" />
                </div>
                <div class="validate">
                    <button>Validar</button>
                </div>
            </div>
        </div>
    
        <div class="copyright">
            <span>Copyright © {{ Year }} Canal da Engenharia   |   CDE DIGITAL LTDA CNPJ: 39.272.475/0001-72 @ v{{version}}</span>
        </div>
    </footer>
</div>