<div class="grid-name">
    <div>
        <p><shimmer></shimmer></p>
    </div>
    <div>
        <p><shimmer [width]="'100px'"></shimmer></p>
    </div>
</div>

<div class="grid-user">
    <div>
        <div class="pic"></div>
    </div>
    <div>
        <div>
            <shimmer [width]="'300px'"></shimmer>
        </div>
        <div>
            <shimmer [width]="'150px'"></shimmer>
        </div>
        <div>
            <shimmer [width]="'450px'"></shimmer>
        </div>
    </div>
</div>