<div class="wrapper">
    <div class="grid-container max-width">
        <div class="justify-center">
            <app-title-subtitle [title]="'Nossas Redes Sociais'"
                [subtitle]="'Estamos presentes nas maiores plataformas de Redes Sociais com conteúdos inéditos todos os dias!'">
            </app-title-subtitle>
        </div>
        
        <div class="grid-category">
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
            <app-category-card></app-category-card>
        </div>
    
        <app-contact-form></app-contact-form>
    
        <div class="grid-subscribe">
            <div class="justify-center">
                <app-title-subtitle [title]="'Quer ficar por dentro de tudo que acontece no Canal da Eng?'"
                    [subtitle]="'Inscreva-se e receba nossa newsletter semanalmente'">
                </app-title-subtitle>
            </div>
    
            <div class="subscribe">
                <input placeholder="Digite seu e-mail aqui..." />
                <button>Inscrever-me</button>
            </div>
        </div>
    </div>
</div>