.grid-lesson{
    display: grid;
    grid-template-columns: 25px 1fr auto;
    border-bottom: 1px solid #9592A6;
    align-items: center;
    column-gap: 0.5em;
    padding: 1em 0;
    margin-left: 2.5em;
}

.lesson-icon{
    display: flex;
    align-items: center;
}

.grid-lesson:hover{
    border-bottom: 1px solid #E6B721;
}

h2{
    margin-top: 2em;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9F9FA5;
}